<!DOCTYPE html>
{% load static %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Scanning</title>
</head>
<body>
    <h1> Scanning</h1>
    <h1> Photogrammetry</h1>
    <h1> Remote sensing</h1>
    Lista mozliwosci:
    <form action="...">
	<select name="nazwa">
		<option>Skaning</option>
		<option>Fotogrametria</option>
		<option>o mnie</option>
        <option>kontakt</option>
	</select>
</form>
    <strong>{{ boldmessage }}</strong></br>Welcome to site about 3D scanning <br/> <a href='/scanning/about'>About</a> </br>
    <br/> <a href='/scanning/scanners'>O skanerach slow kilka</a> </br>
    <img src="{% static 'images/justynka.jpg' %}" alt="Picture of Justynka" width="30%" height="30%" border = "20"/>
</body>
</html>