{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
        <title>my resume</title>
		<link rel="stylesheet" href="{% static "css/resume.css" %}">

	</head>
	<body>
	<div id="header">
	    <h2><strong>Nikodem Pankiewicz</strong> <span id="mail"><em >nickhodem@gmail</em></span> </h2>
	</div>
	
	<div class="left">
	    <p>jestem spaslakiem</p>
	</div>
	<div class="right"></div>
	<div id="footer">
	    Zainteresowania:
	    <ol type="a">
	        <li>Python
                    <ol type="A">
                    <li>Django</li>
                    <li>Kivy</li>
                    <li>OpenCV</li>
                    </ol>
            </li>
	        <li>Geodezja</li>
	        <li>GIS</li>
	    </ol>
	</div>
	
	</body>
</html>